
/* summary::-webkit-details-marker {
 color: #00ACF3;
 font-size: 125%;
 margin-right: 2px;
}*/

details summary::-webkit-details-marker { display:none; }

summary:active {
    outline-style: none;

}

summary:hover {
    outline-style: none;
    cursor: pointer;

}

summary:focus {

    outline-style: none;
}

summary:visited {

    outline-style: none;
}

article > details > summary {
    font-size: 18px;
    margin-top: 16px;
    color: #0099CC;
    background-color: #FFFFFF;
    border: 0px solid;
    border-color: #FFF;
    border-bottom-color: #FFF;
    display: block;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    transition: 0.3s;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 1px;
    padding-left: 21px;
    font-style: italic;
    font-family: Calibri, 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Tahoma, Arial, san-serif;
    font-weight: normal;
}
details > p {
    margin-top: 20px;
    margin-left: 60px;
    font-size: 11pt;
    color: #444444;
    text-align: justify;
    line-height: 18px;
    font-family: Calibri, 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Tahoma, Arial, san-serif;
    font-weight: normal;
}

/*=============================================================*/

.location-text {
	
	padding: 10px;
    background-color: #FFFFFF;
    height: auto;
    font-size: 12pt;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 16pt;
    text-align: justify;
    color: #000000;
    padding-bottom: 20px;

}

.tpf {

	font-size: 12pt;
}

#list-font {

	font-family: 'Century Gothic',verdana,arial,helvetica,sans-serif;
}

.tab-text {

	padding: 10px;
    background-color: #FFFFFF;
    height: auto;
    font-size: 11pt;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 16pt;
    text-align: justify;
    color: #000000;
    padding-bottom: 20px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: white;
    background-color: #2A7A9C;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
}

.difftab {
    color: white;
    background-color: #82C0DC;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
}

.nav-tabs>li>.difftab:hover {
    background-color: #82C0DC;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
}

.listTab {
    text-decoration: none;
    padding-right: 5px;
}

.nav>li>.difftab {
    padding: 2px 15px;
}

#overflow {
    overflow: auto;
    width: 100%;
    background-color: #FFEDCB;
    background-attachment: fixed;
    background-position: center top;
    position: fixed;
    height: 100%;
}

#white {
    background-color: white;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0px 0px 10px #888;
    margin-bottom: 20px;
}

.tabChanges {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.titles {
    padding-top: 25px;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 16pt;
    text-align: justify;
    color: #000000;
}


.tab-content {
    border: 1px solid #519e2d;
    margin: 10px;
    overflow: auto;
}

.generic {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 12pt;
    color: #990033;
}


/*===============================================*/

body {
    margin: 10px;
    background-color: #FFEDCB;
    overflow: auto;
    margin-bottom: 20px;
}


#links {
    position: relative;
    bottom: 70px;
    right: 0px;
}

#banner {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}


.diffnav {
    list-style: none;
    display: inline;
    font-size: 14px;
    line-height: 1.8em;
    font-family: 'Century Gothic', verdana, arial, helvetica, sans-serif;
    padding-right: 40px;
    text-decoration: underline;
}

.diffnav:hover > a {
    color: #CCCCCC;
}

#suboxone {
    color: #CC0000 !important;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

@media handheld,
screen and (max-width: 1200px) and (min-width: 885px) {}

@media handheld,
screen and (max-width: 885px) {}

@media handheld,
screen and (max-width: 768px) and (min-width: 640px) {
    #links {
        padding-top: 30px;
        padding-bottom: 10px;
        left: 20px;
        text-align: center;
    }
    ul {
        padding-left: 0px;
    }
}

@media handheld,
screen and (max-width: 639px) {
    #banner {
        display: none;
    }
    
    .welcome {
        padding-top: 30px;
    }
    #links {
        padding-top: 100px;
        padding-bottom: 0px;
        left: 20px;
        text-align: center;
        overflow: auto;
    }
    ul {
        padding-left: 0px;
    }
    #white {
        margin-left: 0px;
        margin-right: 0px;
    }
    details > p {
        margin-left: 20px;
    }
}

@media handheld,
screen and (min-width: 640px) {
    #banner1 {
        display: none;
    }
    #banner2 {
        display: none;
    }
    #banner3 {
        display: none;
    }
}
