body {
    margin: 10px;
    background-color: #FFEDCB;
}

#head-photo {
    float: right;
    width: 275px;
    height: 430px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#about-hover {
    display: none;
    width: 0;
    height: 0;
    position: absolute;
}

#np-hover {
    display: none;
    width: 0;
    height: 0;
    position: absolute;
}

#np-tab:hover #np-hover {
    display: block;
    height: 80px;
    width: 720px;
    background: #CCCCCC;
    box-shadow: 0 0 4px #888888;
    position: absolute;
    padding: 8px;
    top: 37px;
    right: 80px;
    z-index: 1000;
    border-color: #c503c5;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 25px;
    padding: 20px;
}

.hover-text {
    float: left;
    color: #004D6F;
}

#about-tab:hover #about-hover {
    display: block;
    height: 600px;
    width: 720px;
    background: #CCCCCC;
    box-shadow: 0 0 4px #888888;
    position: absolute;
    padding: 8px;
    top: 37px;
    right: 170px;
    z-index: 1000;
    border-color: #c503c5;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 25px;
    padding: 20px;
}

#links {
    position: relative;
    bottom: 55px;
    left: 80px;
}

#white {
    background-color: white;
    padding-bottom: 10px;
}

#carousel-example-generic {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    position: relative;
    bottom: 80px;
}

#banner {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}

#welcome {
    background-color: #E1F3F8;
    padding: 20px;
    border-style: solid;
    border-color: #E1F3F8;
    border-width: 0.5px;
    font-family: 'Century Gothic', verdana, arial, helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    bottom: 110px;
}

ul li {
    list-style: none;
    display: inline;
    font-size: 12pt;
    font-family: 'Century Gothic', verdana, arial, helvetica, sans-serif;
    padding-right: 25px;
    text-decoration: underline;
}

ul li:hover > a {
    color: #CC0000;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.footer-content {
    margin-bottom: 0px;
    font-variant: small-caps;
    text-align: center;
    color: #990033;
    font-size: 12pt;
    position: relative;
    bottom: 100px;
}

.certified {
    position: relative;
    bottom: 60px;
}

@media handheld,
screen and (max-width: 1200px) and (min-width: 885px) {
    #np-tab:hover #np-hover {
        right: 0px;
    }
    #about-tab:hover #about-hover {
        right: 0px;
    }
}

@media handheld,
screen and (max-width: 885px) {
     #np-tab:hover #np-hover {
        display: none;

    }
    #about-tab:hover #about-hover {
        display: none;
    }
}

@media handheld,
screen and (max-width: 768px) and (min-width: 640px) {
    #links {
        padding-top: 30px;
        padding-bottom: 10px;
        left: 20px;
        text-align: center;
    }
    ul {
        padding-left: 0px;
    }
}

@media handheld,
screen and (max-width: 639px) {
    #banner {
        display: none;
    }
    #welcome {
        font-size: 13px;
    }
    .welcome {
        padding-top: 30px;
    }
    #carousel-example-generic {
        margin-top: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #links {
        padding-top: 50px;
        padding-bottom: 40px;
        left: 20px;
        text-align: center;
    }
    ul {
        padding-left: 0px;
    }
}

@media handheld,
screen and (min-width: 640px) {
    #banner1 {
        display: none;
    }
    #banner2 {
        display: none;
    }
    #banner3 {
        display: none;
    }
    #carousel-example-generic {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
