body {

    margin: 10px;
    padding-bottom: 10px;
    background-color: #FFEDCB;
}

#white {

    background-color: white;
}

#test {
    margin-bottom: 0px;
}


#banner {
    margin-top: 30px;
    width: 100%;
}

#welcome {
    background-color: #E1F3F8;
    padding: 20px;
    border-style: solid;
    border-color: #E1F3F8;
    border-width: 0.5px;
    font-family: 'Century Gothic', verdana, arial, helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.background {
    background-image: url("../images/test-img.png");
    /*E1F3F8*/
}

#practice {
    height: 10px;
    padding-bottom: 0px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-header {
    text-align: center;
}

.navbar-toggle {
    float: none;
    margin-right: 0;
    
}

.navbar-default .navbar-toggle:hover {
    
    background-color: #26649A;

}

.navbar-default .navbar-toggle {

   border-color: white;
   background-color: #428bca;
}

.navbar-default .navbar-toggle .icon-bar {

    background-color: white;

}

/*#5bc0de*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {

    background-color: #26649A;
    color: white;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-collapse {

    border-color: #26649A;
}


.carousel-inner > .item > img {
    margin: 0 auto;
}

.footer-content:last-child {

    margin-bottom: 15px;
}

.footer-content {

    margin-bottom: 0px;
    font-variant: small-caps;
    text-align: center;
}

#nameFooter {

    font-weight: bold;

}

.navbar-default {
  background-color: #428bca;
  background-image: none;
  background-repeat: no-repeat;
  border-color: #428bca;
 }

 .navbar-default .navbar-nav>li>a {

    color: white;
 }

  .navbar-default .navbar-nav>li>a:hover {

    background-color: #26649A;
    color: white;
 }


@media handheld,
screen and (max-width: 640px) {
    #banner {
        display: none;
    }

    #welcome {

        font-size: 13px;
    }

    .background {

        background-image: none;
        margin-top: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }

     #firstSent {

    font-size: 19.5px;
    font-style: italic;
 }
}

@media handheld,
screen and (min-width: 640px) {
    #banner1 {
        display: none;
    }
    #banner2 {
        display: none;
    }
    #banner3 {
        display: none;

    }
    #carousel-example-generic {
    margin-top: 30px;
    margin-bottom: 30px;
}

 #firstSent {

    font-size: 24.5px;
    font-style: italic;
 }
}
